{% load static %}


<!DOCTYPE html>
<html>
<head>
    <title>Login</title>

    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>

<body>

<div class="login-container">

    <h1>Book Library Login</h1>

    <form method="POST">

        {% csrf_token %}

        <label>Username</label>
        <input type="text" name="username" required>

        <label>Password</label>
        <input type="password" name="password" required>

        <button type="submit">Login</button>

    </form>

    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}

    <p class="signup-link">
        Don't have an account?
        <a href="{% url 'signup' %}">Sign Up</a>
    </p>

</div>

</body>
</html>